figure {
	margin: 40px 0 0 0;
}

figure ol,
figure ul {
	margin-top: 20px;
	padding-left: 30px;
}

figure.alignleft {
	margin-right: 8px;
}

figure.alignright {
	margin-left: 8px;
}

figcaption {
	font-weight: bold;
	font-size: 16px;
}

img + figcaption {
	font-weight: normal;
}
