@media (prefers-color-scheme: dark) {
	body {
		background: #323233;
		color: rgba(255,255,255,.78);
		-webkit-font-smoothing: auto;
	}

	p {
		color: rgba(255,255,255,.78);
	}

	.single-post .entry,
	.page .entry {
		background-color: #4a4a4d;
	}

	.entry__content p {
		color: rgba(255,255,255,.78);
	}

	a {
		color: #5ac8fa;

		&:hover,
		&:focus {
			color: #5ac8fa;
		}
	}

	.comment {
		background: #2b2c2e;
		border: 1px solid #4e4f52;
	}

	.comment .comment.odd {
		background: #4a4a4d;
	}
}
