// -------------------------------------
// |            .note class            |
// -------------------------------------

.note {
	padding: 16px;
	border: 1px solid #ccc;
	font-size: 14px;
}

.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
	font-size: 14px;
}

.entry__content .note {
	margin-top: 20px;
}

.entry__content .note h2,
.entry__content .note h3,
.entry__content .note h4,
.entry__content .note h5,
.entry__content .note h6 {
	margin: 0;
}

.entry__content .note p {
	margin-top: 16px;
}

.entry__content .note ul,
.entry__content .note ol {
	margin-top: 20px;
}



// ----------------------------------------------------
// |            Form-related color classes            |
// ----------------------------------------------------

.bg-danger {
	border: 1px solid;
	padding: 10px;
	border-color: #cc4b37;
	color: #cc4b37;
}

.bg-success {
	border: 1px solid;
	padding: 10px;
	border-color: #3adb76;
	color: #3adb76;
}

.bg-info {
	border: 1px solid;
	padding: 10px;
	border-color: #1779ba;
	color: #1779ba;
}

.bg-warning {
	border: 1px solid;
	padding: 10px;
	border-color: #ffae00;
	color: #ffae00;
}
