// All styles related to a post/page Featured Image, which is displayed as a splash header

.single-post .entry__header,
.page .entry__header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	min-height: 300px;
	width: 100%;
	background-color: #666;
}

@media (min-width: 768px) {
	.single-post .entry__header,
	.page .entry__header {
		min-height: 400px;
	}
}

@media (min-width: 1024px) {
	.single-post .entry__header,
	.page .entry__header {
		min-height: 500px;
	}
}

.single-post .entry__thumb,
.page .entry__thumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

.single-post .entry__thumb img,
.page .entry__thumb img {
	min-height: 100%;
	min-width: 100%;
	filter: brightness(.8);
}

.single-post .entry__thumb::after,
.page .entry__thumb::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .15);
}

.entry__thumb img {
	display: block;
	position: absolute;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	object-fit: cover;
}

.home .entry__thumb img,
.archive .entry__thumb img,
.search .entry__thumb img {
	max-width: 100%;
}
