.header {
	display: flex;
	z-index: 5;
	align-items: center;
	width: 100%;
	height: 60px;
	background-color: #566372;
	box-shadow: $z-1;
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
}

@media (min-width: 640px) {
	.header {
		height: 75px;
	}
}

.header a {
	color: #fff;
	line-height: 1.2;
	text-decoration: none;
}

.header a:hover {
	color: #fff;
	text-decoration: underline;
}

.header p {
	color: #fff;
}

.header__title {
	line-height: 1.2;
	display: inline-block;
	margin: 0 0 0 8px;
	font-size: 22px;
	font-weight: 700;
}

@media (min-width: 1024px) {
	.header__title {
		margin: 0 0 0 24px;
	}
}

.header__description {
	display: none;
}

@media (min-width: 640px) {
	.header__description {
		display: inline-block;
		margin: 0 0 0 12px;
		font-size: 12px;
	}
}

.custom-logo-link {
	display: inline-block;
	width: 40px;
	margin: 0 0 0 8px;
	padding: 0;
}

@media (min-width: 640px) {
	.custom-logo-link {
		width: 50px;
		margin: 0 0 0 24px;
	}
}

.custom-logo-link .custom-logo {
	width: 100%;
	vertical-align: middle;
}

.custom-logo-link + .header__title {
	margin-left: 12px;
}
