$maxWidth-400: 'only screen and (max-width : 400px)';

// Layout structure for the primary content area of a blog post (located below the post's title and featured-image)
.single-post .entry__content,
.page .entry__content {
	@media #{$maxWidth-400} {
		width: auto;
	}

	display: block;
	width: 88%;
	padding: 0 16px;
	max-width: 700px;
	margin: 80px auto 0;
	font-style: normal;
	font-size: 16px;
}
