.publised-label,
.update-label {
	display: block;
}

@media (min-width: 640px) {
	.publised-label,
	.update-label {
		display: inline;
	}
}

.publised-label time,
.publised-label span,
.update-label time,
.update-label span {
	margin-left: 4px;
}

@media (min-width: 640px) {
	.update-label {
		margin-left: 4px;

		&::before {
			content: "| \00a0";
		}
	}
}
