.entry__content figure {
	margin: 40px 0;
}

.entry__content figure ol,
.entry__content figure ul {
	margin: 0;
	padding: 0;
}

figure.alignleft,
.entry__content figure.alignleft {
	margin-right: 8px;
}

figure.alignright,
.entry__content figure.alignright {
	margin-left: 8px;
}

.entry__content figcaption {
	font-weight: bold;
	text-align: center;
	font-size: 16px;
}
