.entry__content ul,
.entry__content ol {
	padding: 0 0 0 20px;
	margin: 1em 0;
}

.entry__content ul li,
.entry__content ol li {
	margin-top: 6px;
}

.entry__content li ul,
.entry__content li ol {
	margin-top: 8px;
}
