select {
	font-family: inherit; // Change the font styles in all browsers.
	font-size: 100%; // Change the font styles in all browsers.
	line-height: 1.15; // Change the font styles in all browsers.
	margin: 0; // Remove the margin in Firefox and Safari.
	width: 100%;
	border-radius: 0;
	text-transform: none; // Remove the inheritance of text transform in Firefox.
}
