body {
	background: #f4f4f4;
	font-family: 'Lato', Arial, sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color: #0a0a0a;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
