pre {
	display: block;
	width: 96%;
	padding: 16px;
	border-radius: 3px;
	background-color: #3d3d3d;
	font-size: 16px;
	color: #f5f5f5;
	word-wrap: break-word;
	overflow: auto;
}

code {
	font-family: monospace, monospace;
	// background-color: #3d3d3d;
	background-color: #313942;
	// color: #f5f5f5;
	color: #fff;
	font-size: 80%;
	padding: 4px;
	border-radius: 4px;
}
