html {
	box-sizing: border-box; // [css-tricks.com] https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
	font-size: 100%;
	line-height: 1.15; // [normalize] Correct the line height in all browsers
	font-family: sans-serif; // [Opinionated] So <p> and <h#> have a standard font to inherit
	-webkit-text-size-adjust: 100%; // [normalize] Prevent adjustments of font size after orientation changes in iOS
}

*,
*::before,
*::after {
	box-sizing: inherit; // [css-tricks.com] https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
}

body {
	margin: 0; // [normalize] Remove the margin in all browsers.
	padding: 0;
	background-color: #fff;
	color: #000; // [Opinionated] necessary for <h> to have color:inherit
}

main {
	display: block; // Render the `main` element consistently in IE.
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	color: inherit;
}

h1 {
	font-size: 2em; // [normalize] Correct the font size and margin on `h1` elements within `section` and `article` contexts in Chrome, Edge, Firefox, and Safari.
}

p {
	padding: 0;
	margin-top: 0; // [bootstrap-reboot]
	margin-bottom: 1rem;
	font-size: inherit;
	line-height: 1.5; // [Opinionated] Because to inherit the 1.15 value set on <html> is too small
}

a {
	color: #00e; // Specify to use the default <a> color from Chrome/FF/Safari so that a:visited/a:hover/a:active do not have a different color
	background-color: transparent; // [normalize] Remove the gray background on active links in IE 10.
	line-height: inherit;
}

b,
strong {
	font-weight: bolder; // [normalize] Add the correct font weight in Chrome, Edge, and Safari.
	line-height: inherit;
}

i,
em {
	font-style: italic;
	line-height: inherit;
}

small {
	font-size: 80%;
	line-height: inherit;
}

address {
	font-style: normal;
	font-weight: normal;
	margin-bottom: 1rem;
	padding: 0;
	line-height: inherit;
}

img {
	display: inline-block;
	vertical-align: middle; // Remove the gap between images and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic; // For IE: http://css-tricks.com/ie-fix-bicubic-scaling-for-images
	border-style: none; // Remove the border on images inside links in IE 10.
}

video {
	vertical-align: middle; // [h5bp-main-reset] Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440
	display: inline-block;
	max-width: 100%;
	height: auto;
}

svg {
	overflow: hidden; // Prevent drawing shapes outside of svg rectangle boundaries in IE9
	vertical-align: middle; // Remove the gap between svg and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440
}

hr {
	box-sizing: content-box; // [normalize] Add the correct box sizing in Firefox.
	height: 0; // [normalize] Add the correct box sizing in Firefox.
	overflow: visible; // [normalize] Show the overflow in Edge and IE.
	clear: both; // [foundation] to ensure nothing is beside it when using clears on surrounding content
	margin: 1em auto; // [h5bp] preferred 16/0 over [foundation] 20/0. [bootstrap] uses margin-top and margin-bottom
	border: 0; // [h5bp & bootstrap] set the single-property border to zero, but then override it with a 1px bottom border w below line. [foundation] sets border to 0 via long hand (b-t/b-r/b-b/b-l)
	border-bottom: 1px solid #cacaca; // [Opinionated]
}

sub,
sup {
	// [normalize] - Prevent `sub` and `sup` elements from affecting the line height in all browsers.
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	// [normalize] - Prevent `sub` elements from affecting the line height in all browsers.
	bottom: -.25em;
}

sup {
	// [normalize] - Prevent `sup` elements from affecting the line height in all browsers.
	top: -.5em;
}

figcaption,
figure {
	display: block;
}

figure {
	margin: 1em 40px;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}


abbr[title] {
	border-bottom: none; // Remove the bottom border in Chrome 57-
	text-decoration: underline; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
	text-decoration: underline dotted; // Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
}

code,
kbd,
samp {
	font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
	font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

audio {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

fieldset {
	padding: .35em .75em .625em; // Correct the padding in Firefox.
}

legend {
	box-sizing: border-box; // Correct the text wrapping in Edge and IE.
	color: inherit; // Correct the color inheritance from `fieldset` elements in IE.
	display: table; // Correct the text wrapping in Edge and IE.
	max-width: 100%; // Correct the text wrapping in Edge and IE.
	padding: 0; // Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers.
	white-space: normal; // Correct the text wrapping in Edge and IE.
}

progress {
	vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

details {
	display: block; // Add the correct display in Edge, IE 10+, and Firefox.
}

summary {
	display: list-item; // Add the correct display in all browsers.
}

template {
	display: none; // Add the correct display in IE 10+.
}

[hidden] {
	display: none; // Add the correct display in IE 10.
}
