// lato-regular - latin
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		  url('fonts/lato-v17-latin-regular.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
		  url('fonts/lato-v17-latin-regular.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// lato-700 - latin
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		  url('fonts/lato-v17-latin-700.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
		  url('fonts/lato-v17-latin-700.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// Source Code Pro (Custom subset)
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		  url('fonts/source-code-pro/source-code-pro.woff2') format('woff2'),
		  url('fonts/source-code-pro/source-code-pro.woff') format('woff');
}
